body{
    margin: 0px;
    padding: 0px;
}
.header{
    background-color: rgb(209, 0, 3);
    text-align: center;
    padding: 8px;
}
.sidebar{
    width: 24.3%;
    height: 100%;
    float: left;
}
.sidebar img{
    width: 100%;
    height: 100%;
}
.content{
    float: left;
    padding: 20px;
    width: 72%;
}
.content h5, h6{
    font-family: serif;
}
h1, h5, h6{
    color: rgba(55, 0, 236, 0.922);
}
b{
    color: rgb(0, 51, 35);
}
.nav-pills .nav-link.active{
    background-color: rgb(10, 173, 255) !important;
}